/* ***************** */
/*      NAV          */
/* ***************** */
.link {
  justify-content: center;
  display: inline-block;
  padding: 20px 15px 20px 15px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

input.link {
  position: relative;
  top: 30px;
  width: 600px;
  height: 30px;
  border: 1px solid hsla(253, 100%, 18%, 0.966);
  right: 70px;
}

.wa {
  color: white;
  font-size: 30px;
}

.cas {
  color: white;
  font-size: 30px;

}

.nav {
  background-color: hsla(253, 100%, 18%, 0.966);
}

.navbar-toggler {
  display: none;

}

.text {
  font-size: 20px;
}

/* ***************** */
/*      NAV          */
/* ***************** */

.disfruta {
  position: absolute;
  color: hsla(253, 100%, 18%, 0.966);
  left: 400px;

}

.disfruta2 {
  position: absolute;
  color: hsla(253, 100%, 18%, 0.966);
  margin-left: 610px;
  top: 200px;
}

.disfruta3 {
  position: absolute;
  color: hsla(253, 100%, 18%, 0.966);
  margin-left: 540px;
  top: 260px;
}

.disfruta4 {
  position: absolute;
  color: hsla(253, 100%, 18%, 0.966);
  margin-left: 630px;
  top: 260px;
}

/* ***************** */
/*   CARRUSEL        */
/* ***************** */
.img1 {
  width: 100%;
  height: 380px;
  padding: 15px 0;
  margin-bottom: -16px;
}

.di {
  position: absolute;
  color: white;
  left: 1070px;
  top: 30px;
}

#inicio .carrusel {
  position: relative;
  height: 100%;
  text-align: center;
}

p {
  text-align: justify;
}

.par {
  margin: 0 220px 0;
}

.carousel-caption {
  top: 100px;
}

.carousel-caption {
  margin-left: 20px;
}

#inicio .carrusel .info {
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  color: #fff;
}

#inicio .carrusel .info h2 {
  font-size: 50px;
  margin-bottom: 20px;
  font-family: 'Dancing Script';
}

#inicio .carrusel .info button {
  display: inline-block;
  margin-top: 20px;
  font-size: 20px;
  border: none;
  background-color: #ff8f46;
  color: #fff;
  padding: 7px 25px;
  border-radius: 30px;
  cursor: pointer;
}

#inicio .gallery {
  width: 100%;
  height: 100%;
}

#inicio .gallery-cell {
  width: 100%;
  margin-right: 10px;
  height: 100%;
}

#inicio .gallery-cell img {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

/* */

/* ***************** */
/*   ENCABEZADO#2    */
/* ***************** */
.img0 {
  height: 50px;
  width: 100%;
}

.enc {
  position: absolute;
  color: rgb(212, 211, 211);
  left: 390px;
  margin-top: 10PX;
}

.enc1 {
  position: absolute;
  color: rgb(212, 211, 211);
  left: 437px;
  margin-top: 10PX;
}

.enc2 {
  position: absolute;
  color: rgb(212, 211, 211);
  left: 550px;
  margin-top: 10PX;
}

.enc3 {
  position: absolute;
  color: rgb(212, 211, 211);
  left: 610px;
  margin-top: 10PX;
}

.enc4 {
  position: absolute;
  color: rgb(212, 211, 211);
  left: 780px;
  margin-top: 10PX;
}

.enc5 {
  position: absolute;
  color: rgb(212, 211, 211);
  left: 830px;
  margin-top: 10PX;
}

/* */
/* ***************** */
/*   RECOMENDACIONES */
/* ***************** */
.link {
  text-decoration: none;
}

.im {
  margin-left: 300px;
}

#recomendaciones {
  padding: 50px 0;
  margin-left: 20%;
  width: 30%;
}

#recomendaciones h2 {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}

#recomendaciones .fila {
  display: flex;
  max-width: 1500px;
}

#recomendaciones .fila .item img {
  max-width: 250px;
  margin: 3px;
}

#recomendaciones .fila .item {
  display: flex;
  padding: 5px;
}

#recomendaciones .fila .item .img1 {
  position: relative;
  width: 210px;
  height: 130px;
  left: 25px;

}

#recomendaciones .fila .item .img2 {
  position: relative;
  width: 210px;
  height: 100px;
  left: 25px;
  top: 20px;
}

#recomendaciones .fila .item .img3 {
  position: relative;
  width: 210px;
  height: 100px;
  left: 25px;
  top: 20px;
}

#recomendaciones .fila .item .img4 {
  position: relative;
  width: 210px;
  height: 100px;
  left: 35px;

}

#recomendaciones .fila .item .img5 {
  position: relative;
  width: 210px;
  height: 100px;
  left: 25px;
}

#recomendaciones .fila .item .img6 {
  position: relative;
  width: 210px;
  height: 100px;
  left: 25px;
}

.container {
  margin-top: 50px;
}

.uno {
  position: relative;
  margin-top: -450px;
  margin-left: 50px;
  color: rgb(28, 0, 128);
  font-size: 45px;
  top: 50px;

}

.dos {
  position: relative;
  margin-top: 60px;
  margin-left: 50px;
  color: rgb(28, 0, 128);
  font-size: 45px;
  top: 50px;
}

.tres {
  position: relative;
  margin-top: 70px;
  margin-left: 50px;
  color: rgb(28, 0, 128);
  font-size: 45px;
  top: 50px;
}

.fa-brands {
  color: #fff;
}

h6 {
  margin: 0;
  padding: 0;
}

.text-white {
  margin-left: 480px;
}

.morado {
  color: rgb(28, 0, 128);
  margin-left: 100px;
  margin-top: -50px;
}

.negro {
  margin-top: -55px;
  margin-left: 437px;
}

.negro2 {
  margin-top: -55px;
  margin-left: 512px;
}

.negro3 {
  margin-top: -57px;
  margin-left: 555px;
}

.gris {
  color: grey;
  margin-top: -10px;
  margin-left: 130px;
}

.gris2 {
  color: grey;
  margin-top: -40px;
  margin-left: 244px;
}

.gris3 {
  color: grey;
  margin-top: -40px;
  margin-left: 275px;
}

.gris4 {
  color: grey;
  margin-top: -42px;
  margin-left: 420px;
}

.gris5 {
  color: grey;
  margin-top: -40px;
  margin-left: 502px;
}

.gris6 {
  color: grey;
  margin-top: -42px;
  margin-left: 535px;
}
/* ***************** */
/*     BANENER       */
/* ***************** */
.banner {
  width: 100%;
  height: 400px;
}

/* ***************** */
/*     ANUNCIO       */
/* ***************** */
.ANUNCIO {
  margin-bottom: 80px;
  width: 100%;
  height: 380px;
}

.ANUNCIO2 {
  position: relative;
  width: 100%;
  height: 450px;
  width: 1240px;
  left: -60px;
  top: -20px;
}

/*  */
/* ***************** */
/*      FOOTER       */
/* ***************** */
footer {
  background: rgb(71, 71, 71);
  padding: 5px;
}

footer .te {
  color: white;
}

.text-center1 {
  width: 110%;
}

.wi {
  color: white;
}


.wrappe {
  color: white;
}

.facebook {
  position: relative;
  margin-left: 960px;
  top: 14px;
}

.instagram {
  position: relative;
  margin-left: 1000px;
  top: -34px;
}

.twitter {
  position: relative;
  margin-left: 1050px;
  top: -80px;
}

.whatsapp2 {
  position: relative;
  margin-left: 1100px;
  top: -130px;
}

.youtube {
  margin-left: 1160px;
  margin-top: -180px;
}

.wrappe ul {
  list-style: none;
}

/* ***************** */
/*     RESPONSIVE    */
/* ***************** */

@media (max-width:1280px) {
  .ANUNCIO {
    height: 390px;
  }
  .ANUNCIO2{
    position: relative;
    top:-10px ;
    width: 1210px;
    height: 430px;
    left:-30px;
  }
  .uno{
    position: relative;
    top:100px ;
  }
  .dos{
    position: relative;
    top:100px ;
  }
  .tres{
    position: relative;
    top:100px ;
  }
  .text-center1 {
    width: 102%;
    height: 100%;
  }

  .img-2 {
    width: 102%;
  }

  nav {
    width: 102%;
  }

  .carrusel {
    width: 102%;
  }

  .img0 {
    width: 102%;
  }

  .banner {
    width: 102%;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 950px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 1000px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1060px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1110px;
    top: -130px;
  }

  .youtube {
    margin-left: 1170px;
    margin-top: -180px;
  }

}

@media (max-width:1024px) {
  .ANUNCIO {
    height: 380px;
  }
  .ANUNCIO2{
    position: relative;
    width: 1200px;
    left:25px;
  }
  .text-center1 {
    width: 130%;
    height: 100%;
  }

  .img-2 {
    width: 130%;
  }

  nav {
    width: 130%;
  }

  .carrusel {
    width: 130%;
  }

  .img0 {
    width: 130%;
  }

  .banner {
    width: 130%;
  }
  .uno{
    position: relative;
    left: 100px;
  }
  .dos{
    position: relative;
    left: 100px;
  }
  .tres{
    position: relative;
    left: 100px;
  }
  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 950px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 1000px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1060px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1110px;
    top: -130px;
  }

  .youtube {
    margin-left: 1170px;
    margin-top: -180px;
  }
  .morado{
    position: relative;
    top: -2px;
    left: 40px;
  }
  .negro{
    position: relative;
    left: 40px;
  }
  .negro2 {
    position: relative;
    top: 4px;
    left: 50px;
  }
  .negro3 {
    position: relative;
    top: 9px;
    left: 60px;
  }
  .gris{
    position: relative;
    top: 5px;
    left: 70px;
  }
  .gris1{
    position: relative;
    top: 5px;
    left: 70px;
  }
  .gris2{
    position: relative;
    top: 5px;
    left: 70px;
  }
  .gris3{
    position: relative;
    top: 5px;
    left: 70px;
  }
  .gris4{
    position: relative;
    top: 5px;
    left: 70px;
  }
  .gris5{
    position: relative;
    top: 5px;
    left: 70px;
  }
  .gris6{
    position: relative;
    top: 5px;
    left: 70px;
  }
  #recomendaciones .fila .item .img1{
    position: relative;
    left: 100px;
  }
  #recomendaciones .fila .item .img2{
    position: relative;
    left: 100px;
  }
  #recomendaciones .fila .item .img3{
    position: relative;
    left: 100px;
  }
  #recomendaciones .fila .item .img4{
    position: relative;
    left: 100px;
  }
  #recomendaciones .fila .item .img5{
    position: relative;
    left: 100px;
  }
  #recomendaciones .fila .item .img6{
    position: relative;
    left: 100px;
  }

}


@media (max-width:912px) {
  .ANUNCIO {
    height: 380px;
  }

  .ANUNCIO2 {
    position: relative;
    width: 1120px;
    height: 430px;
    top: -10px;
    left: -30px;
  }

  .uno {
    position: relative;
    top: 40px;
    left: -10px;
  }

  .dos {
    position: relative;
    top: 40px;
    left: -10px;
  }

  .tres {
    position: relative;
    top: 40px;
    left: -10px;
  }

  .text-center1 {
    width: 137%;
    height: 100%;
  }

  .img-2 {
    width: 137%;
  }

  nav {
    width: 137%;
  }

  .carrusel {
    width: 137%;
  }

  .img0 {
    width: 137%;
  }

  .banner {
    width: 137%;
  }

  .gris {
    position: relative;
    top: 10px;
  }

  .gris1 {
    position: relative;
    top: 10px;
  }

  .gris2 {
    position: relative;
    top: 10px;
  }

  .gris3 {
    position: relative;
    top: 10px;
  }

  .gris4 {
    position: relative;
    top: 10px;
  }

  .gris5 {
    position: relative;
    top: 10px;
  }

  .gris6 {
    position: relative;
    top: 10px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 950px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 1000px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1060px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1110px;
    top: -130px;
  }

  .youtube {
    margin-left: 1170px;
    margin-top: -180px;
  }

  .somo .somos p {
    position: relative;
    left: 60px;
  }

}

@media (max-width:820px) {
  .ANUNCIO {
    height: 380px;
  }

  .ANUNCIO2 {
    position: relative;
    width: 1140px;
    height: 430px;
    top:-10px;
    left:-10px;
  }
  .disfruta{
    position: absolute;
    left:430px;
  }
  .disfruta2{
    position: absolute;
    left:10px;
  }
  .disfruta3{
    position: absolute;
    left:0px;
  }
  .disfruta4{
    position: absolute;
    left:0px;
  }
  .uno {
    position: relative;
    top: 60px;
  }

  .dos {
    position: relative;
    top: 60px;
  }

  .tres {
    position: relative;
    top: 60px;
  }

  .text-center1 {
    width: 151%;
    height: 100%;
  }

  .img-2 {
    width: 152%;
  }

  nav {
    width: 152%;
  }

  .carrusel {
    width: 152%;
  }

  .img0 {
    width: 152%;
  }

  .banner {
    width: 152%;
  }

  .morado{
    position: relative;
    top: -2px;
    left: 40px;
  }
  .negro{
    position: relative;
    left: 40px;
  }
  .negro2 {
    position: relative;
    top: 7px;
    left: 50px;
  }
  .negro3 {
    position: relative;
    top: 15px;
    left: 60px;
  }
  .gris{
    position: relative;
    top: 12px;
    left: 70px;
  }
  .gris1{
    position: relative;
    top: 12px;
    left: 70px;
  }
  .gris2{
    position: relative;
    top: 12px;
    left: 70px;
  }
  .gris3{
    position: relative;
    top: 12px;
    left: 70px;
  }
  .gris4{
    position: relative;
    top: 12px;
    left: 70px;
  }
  .gris5{
    position: relative;
    top: 13px;
    left: 70px;
  }
  .gris6{
    position: relative;
    top: 15px;
    left: 70px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 950px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 1000px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1060px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1110px;
    top: -130px;
  }

  .youtube {
    margin-left: 1170px;
    margin-top: -180px;
  }

  .somo .somos p {
    position: relative;
    left: 60px;
  }

}

@media (max-width:768px) {
  .ANUNCIO {
    height: 360px;
  }

  .ANUNCIO2 {
    position: relative;
    width: 1200px;
    height: 400px;
    top: -10px;
    left: 10px;
  }
  .disfruta{
    position: absolute;
    left:430px;
  }
  .disfruta2{
    position: absolute;
    left:10px;
  }
  .disfruta3{
    position: absolute;
    left:-7px;
  }
  .disfruta4{
    position: absolute;
    left:-3px;
  }
  .uno {
    position: relative;
    top: 90px;
    font-size: 32px;
    left: 70px;
  }

  .dos {
    position: relative;
    top: 90px;
    font-size: 32px;
    left: 70px;
  }

  .tres {
    position: relative;
    top: 90px;
    font-size: 32px;
    left: 70px;
  }

  .text-center1 {
    width: 174%;
    height: 100%;
  }

  .img-2 {
    width: 175%;
  }

  nav {
    width: 175%;
  }

  .carrusel {
    width: 175%;
  }

  .img0 {
    width: 175%;
  }

  .banner {
    width: 175%;
  }

  .morado{
    position: relative;
    top: -2px;
    left: 40px;
  }
  .negro{
    position: relative;
    left: 40px;
    top: 7px;
  }
  .negro2 {
    position: relative;
    top: 13px;
    left: 50px;
  }
  .negro3 {
    position: relative;
    top: 23px;
    left: 60px;
  }
  .gris{
    position: relative;
    top: 25px;
    left: 70px;
  }
  .gris2{
    position: relative;
    top: 27px;
    left: 70px;
  }
  .gris3{
    position: relative;
    top: 30px;
    left: 70px;
  }
  .gris4{
    position: relative;
    top: 35px;
    left: 70px;
  }
  .gris5{
    position: relative;
    top: 35px;
    left: 70px;
  }
  .gris6{
    position: relative;
    top: 40px;
    left: 70px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 950px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 1000px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1060px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1110px;
    top: -130px;
  }

  .youtube {
    margin-left: 1170px;
    margin-top: -180px;
  }

  .somo .somos p {
    position: relative;
    left: 0px;
  }
  #recomendaciones .fila .item .img1{
    position: relative;
    left: 100px;
    top: 20px;
  }
  #recomendaciones .fila .item .img2{
    position: relative;
    left: 100px;
    top: 35px;
  }
  #recomendaciones .fila .item .img3{
    position: relative;
    left: 100px;
    top: 35px;
  }
  #recomendaciones .fila .item .img4{
    position: relative;
    left: 100px;
    top: 20px;
  }
  #recomendaciones .fila .item .img5{
    position: relative;
    left: 100px;
    top: 20px;
  }
  #recomendaciones .fila .item .img6{
    position: relative;
    left: 100px;
    top: 20px;
  }

}


@media (max-width:712px) {
  .ANUNCIO {
    height: 360px;
  }

  .ANUNCIO2 {
    position: relative;
    width: 1120px;
    height: 400px;
    top: -10px;
    left: -30px;
  }
  .disfruta{
    position: absolute;
    left:430px;
  }
  .disfruta2{
    position: absolute;
    left:10px;
  }
  .disfruta3{
    position: absolute;
    left:-7px;
  }
  .disfruta4{
    position: absolute;
    left:-3px;
  }
  .uno {
    position: relative;
    top: 90px;
    font-size: 32px;
  }

  .dos {
    position: relative;
    top: 90px;
    font-size: 32px;
  }

  .tres {
    position: relative;
    top: 90px;
    font-size: 32px;
  }

  .text-center1 {
    width: 174%;
    height: 100%;
  }

  .img-2 {
    width: 175%;
  }

  nav {
    width: 175%;
  }

  .carrusel {
    width: 175%;
  }

  .img0 {
    width: 175%;
  }

  .banner {
    width: 175%;
  }

  .morado{
    position: relative;
    top: -2px;
    left: 40px;
  }
  .negro{
    position: relative;
    left: 40px;
    top: 7px;
  }
  .negro2 {
    position: relative;
    top: 13px;
    left: 50px;
  }
  .negro3 {
    position: relative;
    top: 23px;
    left: 60px;
  }
  .gris{
    position: relative;
    top: 25px;
    left: 70px;
  }
  .gris2{
    position: relative;
    top: 27px;
    left: 70px;
  }
  .gris3{
    position: relative;
    top: 30px;
    left: 70px;
  }
  .gris4{
    position: relative;
    top: 35px;
    left: 70px;
  }
  .gris5{
    position: relative;
    top: 35px;
    left: 70px;
  }
  .gris6{
    position: relative;
    top: 40px;
    left: 70px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 950px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 1000px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1060px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1110px;
    top: -130px;
  }

  .youtube {
    margin-left: 1170px;
    margin-top: -180px;
  }

  .somo .somos p {
    position: relative;
    left: 0px;
  }
  #recomendaciones .fila .item .img1{
    position: relative;
    left: 100px;
    top: 20px;
  }
  #recomendaciones .fila .item .img2{
    position: relative;
    left: 100px;
    top: 35px;
  }
  #recomendaciones .fila .item .img3{
    position: relative;
    left: 100px;
    top: 35px;
  }
  #recomendaciones .fila .item .img4{
    position: relative;
    left: 100px;
    top: 20px;
  }
  #recomendaciones .fila .item .img5{
    position: relative;
    left: 100px;
    top: 20px;
  }
  #recomendaciones .fila .item .img6{
    position: relative;
    left: 100px;
    top: 20px;
  }

}

@media (max-width:540px) {
  .ANUNCIO {
    height: 390px;
  }

  .ANUNCIO2 {
    position: relative;
    width: 1200px;
    height: 410px;
    top: 0px;
    left: 40px;
  }
  .disfruta{
    position: absolute;
    left:430px;
  }
  .disfruta2{
    position: absolute;
    left:10px;
  }
  .disfruta3{
    position: absolute;
    left:-7px;
  }
  .disfruta4{
    position: absolute;
    left:-3px;
  }
  .uno {
    position: relative;
    top: 130px;
    font-size: 32px;
    left: 100px;
  }

  .dos {
    position: relative;
    top: 130px;
    font-size: 32px;
    left: 100px;
  }

  .tres {
    position: relative;
    top: 130px;
    font-size: 32px;
    left: 100px;
  }

  .text-center1 {
    width: 240%;
    height: 100%;
  }

  .img-2 {
    width: 240%;
  }

  nav {
    width: 240%;
  }

  .carrusel {
    width: 240%;
  }

  .img0 {
    width: 240%;
  }

  .banner {
    width: 240%;
  }

  .morado{
    position: relative;
    top: -2px;
    left: 40px;
  }
  .negro{
    position: relative;
    left: 40px;
    top: 7px;
  }
  .negro2 {
    position: relative;
    top: 13px;
    left: 50px;
  }
  .negro3 {
    position: relative;
    top: 23px;
    left: 60px;
  }
  .gris{
    position: relative;
    top: 25px;
    left: 70px;
  }
  .gris2{
    position: relative;
    top: 27px;
    left: 70px;
  }
  .gris3{
    position: relative;
    top: 30px;
    left: 70px;
  }
  .gris4{
    position: relative;
    top: 35px;
    left: 70px;
  }
  .gris5{
    position: relative;
    top: 35px;
    left: 70px;
  }
  .gris6{
    position: relative;
    top: 40px;
    left: 70px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 950px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 1000px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1060px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1110px;
    top: -130px;
  }

  .youtube {
    margin-left: 1170px;
    margin-top: -180px;
  }

  .somo .somos p {
    position: relative;
    left: 0px;
  }
  #recomendaciones .fila .item .img1{
    position: relative;
    left: 100px;
    top: 20px;
  }
  #recomendaciones .fila .item .img2{
    position: relative;
    left: 100px;
    top: 35px;
  }
  #recomendaciones .fila .item .img3{
    position: relative;
    left: 100px;
    top: 35px;
  }
  #recomendaciones .fila .item .img4{
    position: relative;
    left: 100px;
    top: 20px;
  }
  #recomendaciones .fila .item .img5{
    position: relative;
    left: 100px;
    top: 20px;
  }
  #recomendaciones .fila .item .img6{
    position: relative;
    left: 100px;
    top: 20px;
  }

}
@media (max-width:414px) {
  .ANUNCIO {
    height: 340px;
  }

  .ANUNCIO2 {
    position: relative;
    width: 1100px;
    height: 340px;
    top: 40px;
    left: 50px;
  }
  .disfruta{
    position: absolute;
    left:430px;
  }
  .disfruta2{
    position: absolute;
    left:10px;
  }
  .disfruta3{
    position: absolute;
    left:-7px;
  }
  .disfruta4{
    position: absolute;
    left:-3px;
  }
  .uno {
    position: relative;
    top: 190px;
    font-size: 25px;
    left: 90px;
  }

  .dos {
    position: relative;
    top: 190px;
    font-size: 25px;
    left: 90px;
  }

  .tres {
    position: relative;
    top: 190px;
    font-size: 25px;
    left: 90px;
  }

  .text-center1 {
    width: 298%;
    height: 100%;
  }

  .img-2 {
    width: 300%;
  }

  nav {
    width: 300%;
  }

  .carrusel {
    width: 300%;
  }

  .img0 {
    width: 300%;
  }

  .banner {
    position: relative;
    width: 300%;
    top: 40px;
  }

  .morado{
    position: relative;
    top: -2px;
    left: 140px;
  }
  .negro{
    position: relative;
    left: 90px;
    top: 10px;
  }
  .negro2 {
    position: relative;
    top: 25px;
    left: 90px;
  }
  .negro3 {
    position: relative;
    top: 40px;
    left: 100px;
  }
  .gris{
    position: relative;
    top: 50px;
    left: 110px;
  }
  .gris2{
    position: relative;
    top: 55px;
    left: 110px;
  }
  .gris3{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris4{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris5{
    position: relative;
    top: 65px;
    left: 130px;
  }
  .gris6{
    position: relative;
    top: 70px;
    left: 150px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 920px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 980px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1030px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1080px;
    top: -130px;
  }

  .youtube {
    margin-left: 1140px;
    margin-top: -180px;
  }

  .somo .somos p {
    position: relative;
    left: 0px;
  }
  #recomendaciones .fila .item .img1{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img2{
    position: relative;
    left: 160px;
    top: 75px;
  }
  #recomendaciones .fila .item .img3{
    position: relative;
    left: 170px;
    top: 75px;
  }
  #recomendaciones .fila .item .img4{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img5{
    position: relative;
    left: 160px;
    top: 60px;
  }
  #recomendaciones .fila .item .img6{
    position: relative;
    left: 170px;
    top: 60px;
  }

}


@media (max-width:412px) {
  .ANUNCIO {
    height: 340px;
  }

  .ANUNCIO2 {
    position: relative;
    width: 1100px;
    height: 340px;
    top: 40px;
    left: 50px;
  }
  .disfruta{
    position: absolute;
    left:450px;
  }
  .disfruta2{
    position: absolute;
    left:10px;
  }
  .disfruta3{
    position: absolute;
    left:-6px;
  }
  .disfruta4{
    position: absolute;
    left:-3px;
  }
  .uno {
    position: relative;
    top: 190px;
    font-size: 25px;
    left: 90px;
  }

  .dos {
    position: relative;
    top: 190px;
    font-size: 25px;
    left: 90px;
  }

  .tres {
    position: relative;
    top: 190px;
    font-size: 25px;
    left: 90px;
  }

  .text-center1 {
    width: 298%;
    height: 100%;
  }

  .img-2 {
    width: 300%;
  }

  nav {
    width: 300%;
  }

  .carrusel {
    width: 300%;
  }

  .img0 {
    width: 300%;
  }

  .banner {
    position: relative;
    width: 300%;
    top: 40px;
  }

  .morado{
    position: relative;
    top: -2px;
    left: 140px;
  }
  .negro{
    position: relative;
    left: 90px;
    top: 10px;
  }
  .negro2 {
    position: relative;
    top: 25px;
    left: 90px;
  }
  .negro3 {
    position: relative;
    top: 40px;
    left: 100px;
  }
  .gris{
    position: relative;
    top: 50px;
    left: 110px;
  }
  .gris2{
    position: relative;
    top: 55px;
    left: 110px;
  }
  .gris3{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris4{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris5{
    position: relative;
    top: 65px;
    left: 130px;
  }
  .gris6{
    position: relative;
    top: 70px;
    left: 150px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 920px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 980px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1030px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1080px;
    top: -130px;
  }

  .youtube {
    margin-left: 1140px;
    margin-top: -180px;
  }

  .somo .somos p {
    position: relative;
    left: 0px;
  }
  #recomendaciones .fila .item .img1{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img2{
    position: relative;
    left: 160px;
    top: 75px;
  }
  #recomendaciones .fila .item .img3{
    position: relative;
    left: 170px;
    top: 75px;
  }
  #recomendaciones .fila .item .img4{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img5{
    position: relative;
    left: 160px;
    top: 60px;
  }
  #recomendaciones .fila .item .img6{
    position: relative;
    left: 170px;
    top: 60px;
  }

}
@media (max-width:393px) {
  .ANUNCIO {
    height: 350px;
  }

  .ANUNCIO2 {
    position: relative;
    width: 1100px;
    height: 350px;
    top: 40px;
    left: 40px;
  }
  .disfruta{
    position: absolute;
    left:430px;
  }
  .disfruta2{
    position: absolute;
    left:10px;
  }
  .disfruta3{
    position: absolute;
    left:-7px;
  }
  .disfruta4{
    position: absolute;
    left:-3px;
  }
  .uno {
    position: relative;
    top: 190px;
    font-size: 22px;
    left: 90px;
  }

  .dos {
    position: relative;
    top: 190px;
    font-size: 22px;
    left: 90px;
  }

  .tres {
    position: relative;
    top: 190px;
    font-size: 22px;
    left: 90px;
  }

  .text-center1 {
    width: 320%;
    height: 100%;
  }

  .img-2 {
    width: 322%;
  }

  nav {
    width: 322%;
  }

  .carrusel {
    width: 322%;
  }

  .img0 {
    width: 322%;
  }

  .banner {
    position: relative;
    width: 322%;
    top: 40px;
  }

  .morado{
    position: relative;
    top: -2px;
    left: 140px;
  }
  .negro{
    position: relative;
    left: 90px;
    top: 10px;
  }
  .negro2 {
    position: relative;
    top: 22px;
    left: 90px;
  }
  .negro3 {
    position: relative;
    top: 38px;
    left: 100px;
  }
  .gris{
    position: relative;
    top: 50px;
    left: 110px;
  }
  .gris2{
    position: relative;
    top: 55px;
    left: 110px;
  }
  .gris3{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris4{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris5{
    position: relative;
    top: 65px;
    left: 130px;
  }
  .gris6{
    position: relative;
    top: 70px;
    left: 150px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 900px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 960px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1010px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1060px;
    top: -130px;
  }

  .youtube {
    margin-left: 1130px;
    margin-top: -180px;
  }

  .somo .somos p {
    position: relative;
    left: 0px;
  }
  #recomendaciones .fila .item .img1{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img2{
    position: relative;
    left: 160px;
    top: 75px;
  }
  #recomendaciones .fila .item .img3{
    position: relative;
    left: 170px;
    top: 75px;
  }
  #recomendaciones .fila .item .img4{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img5{
    position: relative;
    left: 160px;
    top: 60px;
  }
  #recomendaciones .fila .item .img6{
    position: relative;
    left: 170px;
    top: 60px;
  }

}
@media (max-width:390px) {
  .ANUNCIO {
    height: 350px;
  }

  .ANUNCIO2 {
    position: relative;
    width: 1100px;
    height: 350px;
    top: 40px;
    left: 40px;
  }
  .disfruta{
    position: absolute;
    left:430px;
  }
  .disfruta2{
    position: absolute;
    left:10px;
  }
  .disfruta3{
    position: absolute;
    left:-7px;
  }
  .disfruta4{
    position: absolute;
    left:-3px;
  }
  .uno {
    position: relative;
    top: 190px;
    font-size: 22px;
    left: 90px;
  }

  .dos {
    position: relative;
    top: 190px;
    font-size: 22px;
    left: 90px;
  }

  .tres {
    position: relative;
    top: 190px;
    font-size: 22px;
    left: 90px;
  }

  .text-center1 {
    width: 320%;
    height: 100%;
  }

  .img-2 {
    width: 322%;
  }

  nav {
    width: 322%;
  }

  .carrusel {
    width: 322%;
  }

  .img0 {
    width: 322%;
  }

  .banner {
    position: relative;
    width: 322%;
    top: 40px;
  }

  .morado{
    position: relative;
    top: -2px;
    left: 140px;
  }
  .negro{
    position: relative;
    left: 90px;
    top: 10px;
  }
  .negro2 {
    position: relative;
    top: 22px;
    left: 90px;
  }
  .negro3 {
    position: relative;
    top: 38px;
    left: 100px;
  }
  .gris{
    position: relative;
    top: 50px;
    left: 110px;
  }
  .gris2{
    position: relative;
    top: 55px;
    left: 110px;
  }
  .gris3{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris4{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris5{
    position: relative;
    top: 65px;
    left: 130px;
  }
  .gris6{
    position: relative;
    top: 70px;
    left: 150px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 900px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 960px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1010px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1060px;
    top: -130px;
  }

  .youtube {
    margin-left: 1130px;
    margin-top: -180px;
  }

  .somo .somos p {
    position: relative;
    left: 0px;
  }
  #recomendaciones .fila .item .img1{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img2{
    position: relative;
    left: 160px;
    top: 75px;
  }
  #recomendaciones .fila .item .img3{
    position: relative;
    left: 170px;
    top: 75px;
  }
  #recomendaciones .fila .item .img4{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img5{
    position: relative;
    left: 160px;
    top: 60px;
  }
  #recomendaciones .fila .item .img6{
    position: relative;
    left: 170px;
    top: 60px;
  }

}

@media (max-width:375px) {
  .ANUNCIO {
    height: 500px;
  }

  .ANUNCIO2 {
    position: relative;
    width: 1060px;
    height: 420px;
    top: 70px;
    left: 90px;
  }
  .disfruta{
    position: absolute;
    left:430px;
  }
  .disfruta2{
    position: absolute;
    left:10px;
  }
  .disfruta3{
    position: absolute;
    left:-7px;
  }
  .disfruta4{
    position: absolute;
    left:-3px;
  }
  .uno {
    position: relative;
    top: 190px;
    font-size: 22px;
    left: 90px;
  }

  .dos {
    position: relative;
    top: 190px;
    font-size: 22px;
    left: 90px;
  }

  .tres {
    position: relative;
    top: 190px;
    font-size: 22px;
    left: 90px;
  }

  .text-center1 {
    width: 320%;
    height: 100%;
  }

  .img-2 {
    width: 322%;
  }

  nav {
    width: 322%;
  }

  .carrusel {
    width: 322%;
  }

  .img0 {
    width: 322%;
  }

  .banner {
    position: relative;
    width: 322%;
    top: 40px;
  }

  .morado{
    position: relative;
    top: -2px;
    left: 140px;
  }
  .negro{
    position: relative;
    left: 90px;
    top: 10px;
  }
  .negro2 {
    position: relative;
    top: 22px;
    left: 90px;
  }
  .negro3 {
    position: relative;
    top: 38px;
    left: 100px;
  }
  .gris{
    position: relative;
    top: 50px;
    left: 110px;
  }
  .gris2{
    position: relative;
    top: 55px;
    left: 110px;
  }
  .gris3{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris4{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris5{
    position: relative;
    top: 65px;
    left: 130px;
  }
  .gris6{
    position: relative;
    top: 70px;
    left: 150px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 900px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 960px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1010px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1060px;
    top: -130px;
  }

  .youtube {
    margin-left: 1130px;
    margin-top: -180px;
  }

  .somo .somos p {
    position: relative;
    left: 0px;
  }
  #recomendaciones .fila .item .img1{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img2{
    position: relative;
    left: 160px;
    top: 75px;
  }
  #recomendaciones .fila .item .img3{
    position: relative;
    left: 170px;
    top: 75px;
  }
  #recomendaciones .fila .item .img4{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img5{
    position: relative;
    left: 160px;
    top: 60px;
  }
  #recomendaciones .fila .item .img6{
    position: relative;
    left: 170px;
    top: 60px;
  }

}

@media (max-width:360px) {
  .ANUNCIO {
    height: 320px;
  }

  .ANUNCIO2 {
    position: relative;
    width: 1100px;
    height: 320px;
    top: 30px;
    left: 40px;
  }
  .disfruta{
    position: absolute;
    left:430px;
  }
  .disfruta2{
    position: absolute;
    left:10px;
  }
  .disfruta3{
    position: absolute;
    left:-7px;
  }
  .disfruta4{
    position: absolute;
    left:-3px;
  }
  .uno {
    position: relative;
    top: 210px;
    font-size: 20px;
    left: 120px;
  }

  .dos {
    position: relative;
    top: 210px;
    font-size: 20px;
    left: 120px;
  }

  .tres {
    position: relative;
    top: 210px;
    font-size: 20px;
    left: 120px;
  }

  .text-center1 {
    width: 333%;
    height: 100%;
  }

  .img-2 {
    width: 333%;
  }

  nav {
    width: 333%;
  }

  .carrusel {
    width: 333%;
  }

  .img0 {
    width: 333%;
  }

  .banner {
    position: relative;
    width: 333%;
    top: 40px;
  }

  .morado{
    position: relative;
    top: -2px;
    left: 140px;
  }
  .negro{
    position: relative;
    left: 90px;
    top: 10px;
  }
  .negro2 {
    position: relative;
    top: 22px;
    left: 90px;
  }
  .negro3 {
    position: relative;
    top: 38px;
    left: 100px;
  }
  .gris{
    position: relative;
    top: 50px;
    left: 110px;
  }
  .gris2{
    position: relative;
    top: 55px;
    left: 110px;
  }
  .gris3{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris4{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris5{
    position: relative;
    top: 65px;
    left: 130px;
  }
  .gris6{
    position: relative;
    top: 70px;
    left: 150px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 900px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 960px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1010px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1060px;
    top: -130px;
  }

  .youtube {
    margin-left: 1130px;
    margin-top: -180px;
  }

  .somo .somos p {
    position: relative;
    left: 0px;
  }
  #recomendaciones .fila .item .img1{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img2{
    position: relative;
    left: 160px;
    top: 75px;
  }
  #recomendaciones .fila .item .img3{
    position: relative;
    left: 170px;
    top: 75px;
  }
  #recomendaciones .fila .item .img4{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img5{
    position: relative;
    left: 160px;
    top: 60px;
  }
  #recomendaciones .fila .item .img6{
    position: relative;
    left: 170px;
    top: 60px;
  }

}

@media (max-width:320px) {
  .ANUNCIO {
    height: 320px;
  }

  .ANUNCIO2 {
    position: relative;
    width: 1100px;
    height: 320px;
    top: 30px;
    left: 40px;
  }
  .disfruta{
    position: absolute;
    left:430px;
  }
  .disfruta2{
    position: absolute;
    left:10px;
  }
  .disfruta3{
    position: absolute;
    left:-7px;
  }
  .disfruta4{
    position: absolute;
    left:-3px;
  }
  .uno {
    position: relative;
    top: 210px;
    font-size: 18px;
    left: 120px;
  }

  .dos {
    position: relative;
    top: 210px;
    font-size: 18px;
    left: 120px;
  }

  .tres {
    position: relative;
    top: 210px;
    font-size: 18px;
    left: 120px;
  }

  .text-center1 {
    width: 380%;
    height: 100%;
  }

  .img-2 {
    width: 380%;
  }

  nav {
    width: 380%;
  }

  .carrusel {
    width: 380%;
  }

  .img0 {
    width: 380%;
  }

  .banner {
    position: relative;
    width: 380%;
    top: 40px;
  }

  .morado{
    position: relative;
    top: -2px;
    left: 140px;
  }
  .negro{
    position: relative;
    left: 90px;
    top: 10px;
  }
  .negro2 {
    position: relative;
    top: 22px;
    left: 90px;
  }
  .negro3 {
    position: relative;
    top: 38px;
    left: 100px;
  }
  .gris{
    position: relative;
    top: 50px;
    left: 110px;
  }
  .gris2{
    position: relative;
    top: 55px;
    left: 110px;
  }
  .gris3{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris4{
    position: relative;
    top: 60px;
    left: 110px;
  }
  .gris5{
    position: relative;
    top: 65px;
    left: 130px;
  }
  .gris6{
    position: relative;
    top: 70px;
    left: 150px;
  }

  .di {
    position: absolute;
    color: white;
    left: 1010px;
    top: 30px;
  }

  .facebook {
    position: relative;
    margin-left: 900px;
    top: 14px;
  }

  .instagram {
    position: relative;
    margin-left: 960px;
    top: -34px;
  }

  .twitter {
    position: relative;
    margin-left: 1010px;
    top: -80px;
  }

  .whatsapp2 {
    position: relative;
    margin-left: 1060px;
    top: -130px;
  }

  .youtube {
    margin-left: 1130px;
    margin-top: -180px;
  }

  .somo .somos p {
    position: relative;
    left: 0px;
  }
  #recomendaciones .fila .item .img1{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img2{
    position: relative;
    left: 160px;
    top: 75px;
  }
  #recomendaciones .fila .item .img3{
    position: relative;
    left: 170px;
    top: 75px;
  }
  #recomendaciones .fila .item .img4{
    position: relative;
    left: 150px;
    top: 60px;
  }
  #recomendaciones .fila .item .img5{
    position: relative;
    left: 160px;
    top: 60px;
  }
  #recomendaciones .fila .item .img6{
    position: relative;
    left: 170px;
    top: 60px;
  }

}